openapi: 3.1.0
info:
  title: packagecloud API
  version: 1.0.0
  description: |
    REST API for managing packagecloud repositories. Generated from https://packagecloud.io/docs/api.

    ## Consuming packages

    Once a read token is provisioned (via the `/install` endpoints or the read-tokens API), packages are served from per-repository URLs. This spec does not model those as operations — their sub-paths follow each package manager's own layout (e.g. a Maven repo's groupId/artifactId/version tree), not packagecloud's. Substitute `<user>`, `<repo>`, `<token>`, and the consuming system's `<os>`/`<dist>` (the `/install` endpoints describe how those are derived; file/registry names use `<user>_<repo>`, where only the `/` separator becomes `_`).

    **apt (deb).** Modern apt (>= 1.1) keeps the token out of the list file:
    - `/etc/apt/sources.list.d/<user>_<repo>.list`:
      `deb [signed-by=/etc/apt/keyrings/<user>_<repo>-archive-keyring.gpg] https://packagecloud.io/<user>/<repo>/<os>/ <dist> main` (plus a matching `deb-src` line)
    - `/etc/apt/auth.conf.d/<user>_<repo>.conf`:
      `machine packagecloud.io/<user>/<repo>/ login <token> password <ignored>`
    - GPG key: `https://packagecloud.io/<user>/<repo>/gpgkey`

      Legacy apt (< 1.1) instead embeds the token in the URL and drops `signed-by`:
      `deb https://<token>:@packagecloud.io/<user>/<repo>/<os>/ <dist> main`.

    **yum/dnf & zypper (rpm).** In the `.repo` file:
    `baseurl=https://<token>:@packagecloud.io/<user>/<repo>/<os>/<dist>/$basearch` (source RPMs at `.../<os>/<dist>/SRPMS`), `gpgkey=https://<token>:@packagecloud.io/<user>/<repo>/gpgkey`.

    **apk (alpine).** Append to `/etc/apk/repositories`: `https://<token>:@packagecloud.io/<user>/<repo>/alpine/<dist>/main`; RSA signing key for `/etc/apk/keys`: `https://<token>:@packagecloud.io/<user>/<repo>/rsakey`.

    **npm.** Registry `https://packagecloud.io/<user>/<repo>/npm/`, with `//packagecloud.io/<user>/<repo>/npm/:_authToken=<token>` in `.npmrc`.

    **pip (pypi).** `extra-index-url=https://<token>:@packagecloud.io/<user>/<repo>/pypi/simple` (use `index-url` to make it the only source).

    **RubyGems.** `https://<token>:@packagecloud.io/<user>/<repo>/` (e.g. via `gem source --add` or a Bundler `source`).

    **Maven / Gradle / Leiningen / SBT.** The token is path-embedded, since these tools handle userinfo-in-URL poorly: `https://packagecloud.io/priv/<token>/<user>/<repo>/maven2`.

    **Helm.** `helm repo add <user>_<repo> https://packagecloud.io/<user>/<repo>/helm --username <token> --password <any>`.
servers:
- url: https://packagecloud.io
security:
- apiToken: []
tags:
- name: distributions
- name: gpg_keys
- name: licenses
- name: master_tokens
- name: packages
- name: read_tokens
- name: repositories
- name: stats
- name: api_tokens
- name: install
paths:
  /api/v1/distributions:
    get:
      operationId: distributions_index
      tags:
      - distributions
      summary: index
      description: |-
        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/distributions.json
        ```
      responses:
        '200':
          description: Hash<String, Distribution> The response will be a JSON hash with the keys "deb",
            "dsc", and "rpm" whose values will be an array of hashes describing each distribution. This
            distribution hash will have an key called "versions" whose value is an array of JSON hashes
            describing each version of a particular Linux distribution which supports the package type.
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: array
                  items:
                    $ref: '#/components/schemas/Distribution'
              example:
                deb:
                - display_name: Ubuntu
                  index_name: ubuntu
                  versions:
                  - id: 4
                    display_name: 5.10 Breezy Badger
                    index_name: breezy
                  - id: 5
                    display_name: 6.06 LTS Dapper Drake
                    index_name: dapper
                  - id: 6
                    display_name: 6.10 Edgy Eft
                    index_name: edgy
                - display_name: Debian
                  index_name: debian
                  versions:
                  - id: 22
                    display_name: 4.0 etch
                    index_name: etch
  /api/v1/repos/{user_id}/{repo}/gpg_keys.json:
    get:
      operationId: gpg_keys_index
      tags:
      - gpg_keys
      summary: index
      description: |-
        List gpg keys for a repository.

        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/repos/username/reponame/gpg_keys.json
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Array<GPGKey> An array of GPG key objects that belong to this repository.
          content:
            application/json:
              schema:
                type: object
                properties:
                  gpg_keys:
                    type: array
                    items:
                      $ref: '#/components/schemas/GPGKey'
                required:
                - gpg_keys
              example:
                gpg_keys:
                - self: /api/v1/repos/username/reponame/gpg_keys/username-reponame-85D7FBF915DFCBC6.pub.gpg.json
                  download_url: https://packagecloud.io/username/reponame/gpgkey/username-reopname-85D7FBF915DFCBC6.pub.gpg
                  keytype: repo
                  destroy_url: /api/v1/repos/username/reponame/gpg_keys/username-reponame-85D7FBF915DFCBC6.pub.gpg.json
                  fingerprint: 26F67F3E5E89BB30DCD7AC6E85D7FBF915DFCBC6
                  name: username-reponame-85D7FBF915DFCBC6.pub.gpg
    post:
      operationId: gpg_keys_create
      tags:
      - gpg_keys
      summary: create
      description: |-
        Create a GPG key.

        **Example request:**

        ```
        curl -X POST -F "gpg_key[keydata]=@/path/to/key.gpg" https://packagecloud.io/api/v1/repos/username/reponame/gpg_keys.json
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                gpg_key[keydata]:
                  type: string
                  format: binary
                  description: The GPG key file to use when creating a key.
      responses:
        '201':
          description: '[GPGKey](#object_GPGKey) The newly created GPG key object.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPGKey'
              example:
                self: /api/v1/repos/username/reponame/gpg_keys/username-reopname-85D7FBF915DFCBC6.pub.gpg.json
                download_url: https://packagecloud.io/username/reponame/gpgkey/username-reopname-85D7FBF915DFCBC6.pub.gpg
                fingerprint: 26F67F3E5E89BB30DCD7AC6E85D7FBF915DFCBC6
                keytype: package
                name: username-reponame-85D7FBF915DFCBC6.pub.gpg
                destroy_url: /api/v1/repos/username/reponame/gpg_keys/username-reponame-85D7FBF915DFCBC6.pub.gpg.json
  /api/v1/repos/{user_id}/{repo}/gpg_keys/{keyname}.json:
    delete:
      operationId: gpg_keys_destroy
      tags:
      - gpg_keys
      summary: destroy
      description: |-
        Destroy a GPG key

        **Example request:**

        ```
        curl -X DELETE https://packagecloud.io/api/v1/repos/username/reponame/gpg_keys/username-reponame-85D7FBF915DFCBC6.pub.gpg.json
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: keyname
        in: path
        required: true
        schema:
          type: string
        description: The GPG Key keyname to delete
      responses:
        '204':
          description: Successful response
    get:
      operationId: gpg_keys_show
      tags:
      - gpg_keys
      summary: show
      description: |-
        View a single GPG Key

        **Example request:**

        ```
        curl -X GET https://packagecloud.io/api/v1/repos/username/reponame/gpg_keys/username-reponame-85D7FBF915DFCBC6.pub.gpg.json
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: keyname
        in: path
        required: true
        schema:
          type: string
        description: The GPG Key keyname.
      responses:
        '200':
          description: <GPGKey> The GPG Key object representing the requested key.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GPGKey'
              example:
                self: /api/v1/repos/username/reponame/gpg_keys/username-reopname-85D7FBF915DFCBC6.pub.gpg.json
                download_url: https://packagecloud.io/username/reponame/gpgkey/username-reopname-85D7FBF915DFCBC6.pub.gpg
                fingerprint: 26F67F3E5E89BB30DCD7AC6E85D7FBF915DFCBC6
                keytype: package
                name: username-reponame-85D7FBF915DFCBC6.pub.gpg
                destroy_url: /api/v1/repos/username/reponame/gpg_keys/username-reponame-85D7FBF915DFCBC6.pub.gpg.json
  /api/v1/licenses/{license_key}/license.json:
    get:
      operationId: licenses_index
      tags:
      - licenses
      summary: index
      description: |-
        STILL IN USE BY GITLAB
        Retrieve a packagecloud:enterprise license file and GPG signature.
        Signature can be verified with the packagecloud GPG key:
        <https://packagecloud.io/gpg.key>.

        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/licenses/aabbccddeeffaa/license.json
        ```
      parameters:
      - name: license_key
        in: path
        required: true
        schema:
          type: string
        description: The packagecloud:enterprise license key
      responses:
        '200':
          description: Hash JSON hash containing the license data and GPG signature
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/License'
  /api/v1/repos/{user_id}/{repo}/master_tokens:
    get:
      operationId: master_tokens_index
      tags:
      - master_tokens
      summary: index
      description: |-
        List master tokens for a repo.

        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/repos/username/reponame/master_tokens
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      responses:
        '200':
          description: Array<MasterToken> An array of master token objects that belong to this repository.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterToken'
              example:
              - value: e5480f5b38f1f78de2aaa0fa732d1427b1b83113371fd97d
                name: default
                read_tokens:
                - value: 3fe453060fd7f017219e308eb98ccf273b4c3655ba57577a
                  name: app1.someservice.com
                paths:
                  self: /api/v1/repos/username/reponame/master_tokens/1
    post:
      operationId: master_tokens_create
      tags:
      - master_tokens
      summary: create
      description: |-
        Create a master token.

        **Example request:**

        ```
        curl -X POST -F "master_token[name]=app_servers" https://packagecloud.io/api/v1/repos/username/reponame/master_tokens
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                master_token[name]:
                  type: string
                  description: The name of the token to create.
      responses:
        '201':
          description: '[MasterToken](#object_MasterToken) The newly created master token'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MasterToken'
              example:
                value: 1f3311f78de2aaa0fa732d1427b1b83113371fd97d
                name: app_servers
                paths:
                  self: /api/v1/repos/username/reponame/master_tokens/1
  /api/v1/repos/{user_id}/{repo}/master_tokens/search:
    get:
      operationId: master_tokens_search
      tags:
      - master_tokens
      summary: search
      description: |-
        Search for master tokens

        Default is 30 per page, see response headers for [pagination](#pagination) information.

        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/repos/username/reponame/master_tokens/search?q=prod
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: The name of the MasterToken.
      responses:
        '200':
          description: Array<MasterTokensResult> An array of {MasterTokensResult} objects for this search
            query.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MasterTokensResult'
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/master_tokens/{id}:
    get:
      operationId: master_tokens_show
      tags:
      - master_tokens
      summary: show
      description: |-
        Show a master token.

        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/repos/username/reponame/master_tokens/1
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The id or value of the MasterToken.
      responses:
        '200':
          description: Array The name and value of the master token and API path for associated Read Tokens
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    value:
                      type: string
                    name:
                      type: string
                    read_tokens_url:
                      type: string
              example:
              - value: e5480f5b38f1f78de2aaa0fa732d1427b1b83113371fd97d
                name: default
                read_tokens_url: /api/v1/repos/username/reponame/master_tokens/1/read_tokens
    delete:
      operationId: master_tokens_destroy
      tags:
      - master_tokens
      summary: destroy
      description: |-
        Destroy a master token and all of its read token children.

        NOTE: Default tokens have their token value rotated when used with this
        API. All private repositories must have default master tokens.

        **Example request:**

        ```
        curl -X DELETE https://packagecloud.io/api/v1/repos/username/reponame/master_tokens/1
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The id of the master token to be destroyed.
      responses:
        '204':
          description: Successful response
  /api/v1/repos/{user_id}/{repo}/packages/contents.json:
    post:
      operationId: packages_contents
      tags:
      - packages
      summary: contents
      description: |-
        Inspect the contents of a debian source package.

        **Example request:**

        ```
        curl -X POST                                                  \
             -F "package[distro_version_id]=17"                       \
             -F "package[package_file]=@path/to/jake_1.0-7.dsc"             \
                "https://packagecloud.io/api/v1/repos/test_user/test_repo/packages/contents.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                package[distro_version_id]:
                  type: integer
                  description: The id of the DistroVersion to push this package to. Get this from the
                    distributions endpoint.
                package[package_file]:
                  type: string
                  format: binary
                  description: The `.dsc` file to inspect the contents of.
      responses:
        '200':
          description: PackageContents A JSON object with a `files` key containing an array of files referenced
            in this source package.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageContents'
              example:
                files:
                - filename: jake_1.0.orig.tar.bz2
                  size: 1108
                  md5sum: a7a309b55424198ee98abcb8092d7be0
                - filename: jake_1.0-7.debian.tar.gz
                  size: 1571
                  md5sum: 0fa5395e95ddf846b419e96575ce8044
  /api/v1/repos/{user_id}/{repo}/packages.json:
    post:
      operationId: packages_create
      tags:
      - packages
      summary: create
      description: |-
        Push a package.

        NOTE: that for Deban .dsc packages, you must upload each of the files contained in the .dsc.
        You can use the package\_contents API to determine the filename, md5sum, and size of the files referenced by the DSC.
        All other package types (debian, rpm, python, and java) need only specify the distro\_version\_id and package\_file parameters.

        **Example request:**

        ```
        curl -X POST https://packagecloud.io/api/v1/repos/test_user/test_repo/packages.json \
             -F "package[distro_version_id]=48"     \
             -F "package[package_file]=@path/to/jake-1.0-1.el6.x86_64.rpm"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                package[distro_version_id]:
                  type: integer
                  description: The id of the DistroVersion to push this package to. Get this from the
                    distributions endpoint. Not required for rubygems.
                package[package_file]:
                  type: string
                  format: binary
                  description: The package file.
                package[source_files][]:
                  type: array
                  items:
                    type: string
                    format: binary
                  description: 'For debian source packages only: the source files that are specified in
                    the .dsc.'
                package[coordinates]:
                  type: string
                  description: 'For Maven/Java/Android packages only: the coordinates of this artifact
                    if they cannot be computed from metadata within the package.'
      responses:
        '201':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: jake
                distro_version: fedora/22
                architecture: x86_64
                repository: test_repo
                size: '3712'
                summary: jake douglas is a very nice young man.
                filename: jake-1.0-1.el6.x86_64.rpm
                description: as it so happens, jake douglas is a very nice young man.
                dependencies:
                - context: requires
                  dependencies:
                  - libc.so.6(GLIBC_2.2.5)(64bit)
                  - rtld(GNU_HASH)
                md5sum: 5abe922fc4bbf5bbdac9b85173371892
                sha1sum: 062fd41ecf96587309ec9a3ae2035cc44c348b8f
                sha256sum: 070da5370a96ba3ae679e7d02d7de6309e4d159340d9f3b555d6d5b4b7cf260a
                sha512sum: 406fa288d5dfff194ec2b119b798c4658375a5d07b34f2d6350885cdf6b620f3fdeee45427fef8bcd37e6624049fba0c633b5b4030b79bf96028db6b4f01de87
                private: false
                uploader_name: test_user
                created_at: '2017-03-13T02:49:29.000Z'
                licenses:
                - GPL
                version: '1.0'
                release: 1.el6
                epoch: 0
                indexed: false
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
                versions_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm/download
                package_html_url: /test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/count.json
                destroy_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm
                self_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
    get:
      operationId: packages_all
      tags:
      - packages
      summary: all
      description: |-
        List All Packages (not grouped by package version)

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/packages.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of PackageFragment objects.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
              example:
              - name: jake
                distro_version: fedora/22
                created_at: '2017-03-13T02:49:29.000Z'
                version: '1.0'
                release: 1.el6
                epoch: 0
                private: false
                type: rpm
                filename: jake-1.0-1.el6.x86_64.rpm
                uploader_name: test_user
                indexed: false
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/count.json
                package_html_url: /test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm
                download_url: https://packagecloud.io/test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm/download
                promote_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm
              - name: jake
                distro_version: java/maven2
                created_at: '2017-03-13T23:54:48.000Z'
                version: '2.3'
                release: null
                epoch: null
                private: false
                type: java
                filename: jake-2.3.jar
                uploader_name: test_user
                indexed: true
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/java/maven2/io.packagecloud/jake/2.3.json
                downloads_detail_url: N/A
                downloads_series_url: N/A
                downloads_count_url: N/A
                package_html_url: /test_user/test_repo/packages/java/jake-2.3.jar
                download_url: https://packagecloud.io/test_user/test_repo/packages/java/io.packagecloud/jake-2.3.jar/artifacts/jake-2.3.jar/download
                promote_url: /api/v1/repos/test_user/test_repo/java/maven2/io.packagecloud/jake-2.3.jar/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/java/maven2/io.packagecloud/jake-2.3.jar
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/{distro}/{version}/{package}/promote.json:
    post:
      operationId: packages_promote
      tags:
      - packages
      summary: promote
      description: |-
        Promote a package.

        This API is similar to a move operation. Once this API call completes
        successfull, the package being promoted will only exist in the
        destination.

        The `dependencies` array for Debian packages will list dependencies for the following contexts: `depends`, `recommends`, `suggests`, `enhances`, `pre-depends`

        The `dependencies` array for Debian Source packages (DSC) will list dependencies for the following contexts: `build-depends` and `build-depends-indep`

        The `dependencies` array for Node.js packages will list dependencies for the following contexts: `dependencies`, `devDependencies`,
        `optionalDependencies`, `bundleDependencies`, and `peerDependencies`.

        The `dependencies` array for Node.js packages will list dependencies for the following contexts: `dependencies`, `devDependencies`,
        `optionalDependencies`, `bundleDependencies`, and `peerDependencies`.

        **Example request:**

        ```
        curl -X POST                                \
             -F "destination=julio/testrepo"        \
             "https://packagecloud.io/api/v1/repos/user/example-repo/el/7/jake-1.0-3.el6.x86_64.rpm/promote.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: distro
        in: path
        required: true
        schema:
          type: string
        description: The name of the distribution the package is in. (i.e. ubuntu)
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version name of the distribution the package is in. (i.e. precise)
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The full name of the package.
      - name: scope
        in: query
        required: false
        schema:
          type: string
        description: The scope of the Node.JS package to promote. Only required if the package to promote
          is scoped. Include the escaped '@' (i.e. ?scope=%40example).
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                destination:
                  type: string
                  description: The fully qualified repository name (e.g., "user/repo") to move the package.
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: jake
                distro_version: fedora/22
                architecture: x86_64
                repository: test_repo
                size: '3712'
                summary: jake douglas is a very nice young man.
                filename: jake-1.0-1.el6.x86_64.rpm
                description: as it so happens, jake douglas is a very nice young man.
                dependencies:
                - context: requires
                  dependencies:
                  - libc.so.6(GLIBC_2.2.5)(64bit)
                  - rtld(GNU_HASH)
                md5sum: 5abe922fc4bbf5bbdac9b85173371892
                sha1sum: 062fd41ecf96587309ec9a3ae2035cc44c348b8f
                sha256sum: 070da5370a96ba3ae679e7d02d7de6309e4d159340d9f3b555d6d5b4b7cf260a
                sha512sum: 406fa288d5dfff194ec2b119b798c4658375a5d07b34f2d6350885cdf6b620f3fdeee45427fef8bcd37e6624049fba0c633b5b4030b79bf96028db6b4f01de87
                private: false
                uploader_name: test_user
                created_at: '2017-03-13T02:49:29.000Z'
                licenses:
                - GPL
                version: '1.0'
                release: 1.el6
                epoch: 0
                indexed: false
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
                versions_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm/download
                package_html_url: /test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/count.json
                destroy_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm
                self_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
  /api/v1/repos/{user_id}/{repo}/package/{type}/{distro}/{version}/{package}/{arch}/{package_version}/{release}.json:
    get:
      operationId: packages_show
      tags:
      - packages
      summary: show
      description: |-
        Show Package

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        The `dependencies` array for RPM packages will list all `Requires` and `PreReq` values under the context `requires`

        The `dependencies` array for Debian packages will list dependencies for the following contexts: `depends`, `recommends`, `suggests`, `enhances`, `pre-depends`

        The `dependencies` array for Debian Source packages (DSC) will list dependencies for the following contexts: `build-depends` and `build-depends-indep`

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: The type of package it is, "rpm" or "deb".
      - name: distro
        in: path
        required: true
        schema:
          type: string
        description: The name of the distribution the package is in. (i.e. ubuntu)
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version name of the distribution the package is in. (i.e. precise)
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - name: arch
        in: path
        required: true
        schema:
          type: string
        description: 'The architecture of the package. (note: debs use amd64 while rpms use x86\_64 for
          arch)'
      - name: package_version
        in: path
        required: true
        schema:
          type: string
        description: The version (without epoch) of the package.
      - name: release
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: jake
                distro_version: fedora/22
                architecture: x86_64
                repository: test_repo
                size: '3712'
                summary: jake douglas is a very nice young man.
                filename: jake-1.0-1.el6.x86_64.rpm
                description: as it so happens, jake douglas is a very nice young man.
                dependencies:
                - context: requires
                  dependencies:
                  - libc.so.6(GLIBC_2.2.5)(64bit)
                  - rtld(GNU_HASH)
                md5sum: 5abe922fc4bbf5bbdac9b85173371892
                sha1sum: 062fd41ecf96587309ec9a3ae2035cc44c348b8f
                sha256sum: 070da5370a96ba3ae679e7d02d7de6309e4d159340d9f3b555d6d5b4b7cf260a
                sha512sum: 406fa288d5dfff194ec2b119b798c4658375a5d07b34f2d6350885cdf6b620f3fdeee45427fef8bcd37e6624049fba0c633b5b4030b79bf96028db6b4f01de87
                private: false
                uploader_name: test_user
                created_at: '2017-03-13T02:49:29.000Z'
                licenses:
                - GPL
                version: '1.0'
                release: 1.el6
                epoch: 0
                indexed: false
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
                versions_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm/download
                package_html_url: /test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/count.json
                destroy_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm
                self_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
  /api/v1/repos/{user_id}/{repo}/package/anyfile/{package}/{version}.json:
    get:
      operationId: packages_anyfile_show
      tags:
      - packages
      summary: anyfile_show
      description: |-
        Show Anyfile Package

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/anyfile/hello/0.0.6.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version of the package.
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: hello
                distro_version: anyfile/1
                architecture: null
                repository: test_repo
                size: '659'
                summary: null
                filename: hello-0.0.6.asc
                description: 'null'
                dependencies: null
                md5sum: 63f15a3efcf982d610b0376aae0a40fe
                sha1sum: 0080db94bb9b3fbfae2ae2c9a720d5cf7a724bbc
                sha256sum: f101e1f32d7e4863c3e983b3709fe1755a34a8f45184ef507868267c23f76f0e
                sha512sum: b50259b470eb609688fd99b30db7e6664e5bf3e47e43266a34e321b928b8c687dc11e9d461d4eb980697a17bb96a8cde197ea755396e25a831d78deeab696061
                private: false
                uploader_name: test_user
                created_at: '2017-03-14T15:58:49.000Z'
                licenses: null
                version: 0.0.6
                release: null
                epoch: null
                indexed: false
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/anyfile/hello/0.0.6.json
                versions_url: /api/v1/repos/test_user/test_repo/package/anyfile/hello/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/anyfile/1/hello-0.0.6.asc/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/anyfile/hello-0.0.6.asc/download?distro_version_id=129
                package_html_url: /test_user/test_repo/packages/anyfile/hello-0.0.6.asc
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/anyfile/hello/0.0.6/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/anyfile/anyfile/hello/0.0.6/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/anyfile/hello/0.0.6/stats/downloads/count.json
                destroy_url: /api/v1/repos/test_user/test_repo/anyfile/1/hello-0.0.6.asc
                self_url: /api/v1/repos/test_user/test_repo/package/anyfile/hello/0.0.6.json
  /api/v1/repos/{user_id}/{repo}/package/gem/{package}/{version}.json:
    get:
      operationId: packages_gem_show
      tags:
      - packages
      summary: gem_show
      description: |-
        Show RubyGem Package

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        The `dependencies` array for RubyGem packages will list dependencies for the following contexts: `runtime` and `development`

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/julio/testrepo/package/gem/jakedotrb/0.0.1.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version of the package.
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: jakedotrb
                distro_version: RubyGem
                architecture: null
                repository: test_repo
                size: '3072'
                summary: helping people learn about my friend jake douglas.
                filename: jakedotrb-0.0.1.gem
                description: helping people learn about my friend jake douglas.
                dependencies: null
                md5sum: 448024a4ac0b6244659c707cfa070df6
                sha1sum: c4365658774d8c259885471acb6cc659caca16b9
                sha256sum: 1897be32375d4fc3337df00930ab94afbdfeb26545492127bdbe7fe05e7e1e9d
                sha512sum: 27f6286aa047a5c1dd5c7c80e1cf1eccc8ca9c8a61a17cc552277d0d6d745275523fa6cdac610d6a6abb9091509241de447b673e84ead83947f3378641e11217
                private: false
                uploader_name: test_user
                created_at: '2017-03-14T14:31:16.000Z'
                licenses:
                - MIT
                version: 0.0.1
                release: null
                epoch: null
                indexed: false
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1.json
                versions_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/gems/jakedotrb-0.0.1.gem/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/gems/jakedotrb-0.0.1.gem/download
                package_html_url: /test_user/test_repo/packages/gems/jakedotrb-0.0.1.gem
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/count.json
                destroy_url: /api/v1/repos/test_user/test_repo/gems/jakedotrb-0.0.1.gem
                self_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1.json
  /api/v1/repos/{user_id}/{repo}/package/python/{package}/{version}.json:
    get:
      operationId: packages_python_show
      tags:
      - packages
      summary: python_show
      description: |-
        Show Python Package

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        The `dependencies` array for Python packages will list dependencies for the following contexts: `requires`, `requires-dist`, `requires-external`, `requires-extra`, and `requires-python`

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version of the package.
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: packagecloud-test
                distro_version: python
                architecture: null
                repository: test_repo
                size: '3128'
                summary: A sample Python project
                filename: packagecloud_test-0.9.7b1-py2.py3-none-any.whl
                description: A sample Python project for pushing to packagecloud
                dependencies: null
                md5sum: a47e28fef7602f51f296a533eb081fff
                sha1sum: 25416aa58f9a5e7a6be23e084c6cbfdd392ab3b2
                sha256sum: f114202a20cacaf3a0de65752a3ae9da963047567323ce2fedaeb8a5b0f7fe63
                sha512sum: 592aecff82aaf416eed0c038b83c71c9e9f85a2300437636dec0a4ffcf813a3b82eb1c0cbcbbbc61f1d784da6ad3609de4e313c2bbcff46b2b6eaf29197d1fe7
                private: false
                uploader_name: test_user
                created_at: '2017-03-14T15:58:49.000Z'
                licenses: null
                version: 0.9.7b1
                release: null
                epoch: null
                indexed: false
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1.json
                versions_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/python/1/packagecloud_test-0.9.7b1-py2.py3-none-any.whl/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/python/packagecloud_test-0.9.7b1-py2.py3-none-any.whl/download
                package_html_url: /test_user/test_repo/packages/python/packagecloud_test-0.9.7b1-py2.py3-none-any.whl
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1/stats/downloads/count.json
                destroy_url: /api/v1/repos/test_user/test_repo/python/1/packagecloud_test-0.9.7b1-py2.py3-none-any.whl
                self_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1.json
  /api/v1/repos/{user_id}/{repo}/package/java/maven2/{package}/{version}.json:
    get:
      operationId: packages_java_show
      tags:
      - packages
      summary: java_show
      description: |-
        Show Java Package

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/java/maven2/io.packagecloud/jake/2.3.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version of the package.
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
  /api/v1/repos/{user_id}/{repo}/package/helm/{index_name}/{package}/{version}.json:
    get:
      operationId: packages_helm_show
      tags:
      - packages
      summary: helm_show
      description: |-
        Show Helm Package

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/helm/v1/hello-kubernetes/2.0.0.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: index_name
        in: path
        required: true
        schema:
          type: string
        description: The version of helm index
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version of the package.
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: hello-kubernetes
                distro_version: helm/v1
                architecture: null
                repository: test_repo
                size: '1877'
                summary: A sample Helm chart
                filename: hello-kubernetes-2.0.0.tgz.
                description: A sample Helm chart
                dependencies: []
                md5sum: 797df36c5c713768cf660b6d29895ca6
                sha1sum: 4f6bab7bd2f6da189506f2e11032b46945dd74b0
                sha256sum: 52d7800b708cb3c96493accf9b15e8bceba9ac31a3fbbe6fde9f176e503bddbe
                sha512sum: dbfe5a1bdf9d7fb4b9cfbff373526fc840d68cce19b17000d751223af21f3a1de1d6230458b14d57eb96eb19a9ab1390542f9081849b0f606870984a7a5fb06c
                private: false
                uploader_name: test_user
                created_at: '2017-03-14T15:58:49.000Z'
                licenses: null
                version: 2.0.0
                release: null
                epoch: null
                indexed: true
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/helm/v1/hello-kubernetes/2.0.0.json
                versions_url: /api/v1/repos/test_user/test_repo/package/helm/v1/hello-kubernetes/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/helm/v1/hello-kubernetes-2.0.0.tgz/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/helm/v1/hello-kubernetes-2.0.0.tgz/download?distro_version_id=140
                package_html_url: /test_user/test_repo/packages/helm/v1/hello-kubernetes-2.0.0.tgz
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/helm/v1/hello-kubernetes/2.0.0/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/helm/v1/hello-kubernetes/2.0.0/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/helm/v1/hello-kubernetes/2.0.0/stats/downloads/count.jsom
                destroy_url: /api/v1/repos/test_user/test_repo/helm/v1/hello-kubernetes-2.0.0.tgz
                self_url: /api/v1/repos/test_user/test_repo/package/helm/v1/hello-kubernetes/2.0.0.json
  /api/v1/repos/{user_id}/{repo}/package/{type}/{distro}/{version}/{package}/{arch}/versions.json:
    get:
      operationId: packages_versions
      tags:
      - packages
      summary: versions
      description: |-
        List Package Versions

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/versions.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: The type of package it is, "rpm" or "deb".
      - name: distro
        in: path
        required: true
        schema:
          type: string
        description: The name of the distribution the package is in. (i.e. ubuntu)
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version name of the distribution the package is in. (i.e. precise)
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - name: arch
        in: path
        required: true
        schema:
          type: string
        description: 'The architecture of the package. (note: debs use amd64 while rpms use x86\_64 for
          arch)'
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of all the versions for
            this package'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
              example:
              - name: jake
                distro_version: fedora/22
                created_at: '2017-03-13T02:49:29.000Z'
                version: '1.0'
                release: 1.el6
                epoch: 0
                private: false
                type: rpm
                filename: jake-1.0-1.el6.x86_64.rpm
                uploader_name: test_user
                indexed: false
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/count.json
                package_html_url: /test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm
                download_url: https://packagecloud.io/test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm/download
                promote_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/package/gem/{package}/versions.json:
    get:
      operationId: packages_gem_versions
      tags:
      - packages
      summary: gem_versions
      description: |-
        List RubyGem Package Versions

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/gem/jakedotrb/versions.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of all the versions for
            this package.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
              example:
              - name: jakedotrb
                distro_version: RubyGem
                created_at: '2017-03-14T14:31:16.000Z'
                version: 0.0.1
                release: null
                epoch: null
                private: false
                type: gem
                filename: jakedotrb-0.0.1.gem
                uploader_name: test_user
                indexed: false
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1.json
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/count.json
                package_html_url: /test_user/test_repo/packages/gems/jakedotrb-0.0.1.gem
                download_url: https://packagecloud.io/test_user/test_repo/packages/gems/jakedotrb-0.0.1.gem/download
                promote_url: /api/v1/repos/test_user/test_repo/gems/jakedotrb-0.0.1.gem/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/gems/jakedotrb-0.0.1.gem
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/package/node/{package}/{version}.json:
    get:
      operationId: packages_node_show
      tags:
      - packages
      summary: node_show
      description: |-
        Show Node.js Package

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        The `dependencies` array for Node.js packages will list dependencies for the following contexts: `dependencies`, `devDependencies`,
        `optionalDependencies`, `bundleDependencies`, and `peerDependencies`.

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package. If this is a scoped package, the name should include an
          @ and an escaped '/' (e.g., @scope%2Fpkg-name).
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version of the package.
      responses:
        '200':
          description: '[PackageDetails](#object_PackageDetails) A JSON object representing the package'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PackageDetails'
              example:
                name: test-pkg
                distro_version: node/1
                architecture: null
                repository: test_repo
                size: '691'
                summary: null
                filename: test-pkg-1.3.1.tgz
                description: test description
                dependencies:
                - context: dependency
                  dependencies:
                  - express
                - context: peerDependency
                  dependencies:
                  - tea
                md5sum: b7037cbf8a54d73eeef32f9e73d2139e
                sha1sum: 6be6783461d5d3a57d56a0c87388bf42c04c1b55
                sha256sum: d71e85ca552011c6f811bc176e799bd777f4608c6a5f268b326ab95613145eeb
                sha512sum: 3e9f904bedeaa3c4dd461570f7c788e3a53783176c39ca16f2f40852777fad24980bcda567ea142f731a4def2bc659d6f021526c08aed76e512194515c2af829
                private: false
                uploader_name: test_user
                created_at: '2017-12-19T03:11:21.000Z'
                licenses: null
                version: 1.3.1
                release: null
                epoch: null
                indexed: true
                scope: null
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1.json
                versions_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/versions.json
                promote_url: /api/v1/repos/test_user/test_repo/node/1/test-pkg-1.3.1.tgz/promote.json
                total_downloads_count: 0
                download_url: https://packagecloud.io/test_user/test_repo/packages/node/test-pkg-1.3.1.tgz/download
                package_html_url: /test_user/test_repo/packages/node/test-pkg-1.3.1.tgz
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1/stats/downloads/count.json
                destroy_url: /api/v1/repos/test_user/test_repo/node/1/test-pkg-1.3.1.tgz
                self_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1.json
  /api/v1/repos/{user_id}/{repo}/package/node/{package}/versions.json:
    get:
      operationId: packages_node_versions
      tags:
      - packages
      summary: node_versions
      description: |-
        List Node.js Package Versions

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/node/test-pkg/versions.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package. If this is a scoped package, the name should include an
          @ and an escaped '/' (e.g., @scope%2Fpkg-name).
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of all the versions for
            this package.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
              example:
              - name: test-pkg
                distro_version: node/1
                created_at: '2017-12-19T03:11:21.000Z'
                version: 1.3.1
                release: null
                epoch: null
                scope: null
                private: false
                type: node
                filename: test-pkg-1.3.1.tgz
                uploader_name: test_user
                indexed: true
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1.json
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/node/test-pkg/1.3.1/stats/downloads/count.json
                package_html_url: /test_user/test_repo/packages/node/test-pkg-1.3.1.tgz
                download_url: https://packagecloud.io/test_user/test_repo/packages/node/test-pkg-1.3.1.tgz/download
                promote_url: /api/v1/repos/test_user/test_repo/node/1/test-pkg-1.3.1.tgz/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/node/1/test-pkg-1.3.1.tgz
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/package/python/{package}/versions.json:
    get:
      operationId: packages_python_versions
      tags:
      - packages
      summary: python_versions
      description: |-
        List Python Package Versions

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/python/packagecloud-test/versions.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of all the versions for
            this package.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
              example:
              - name: packagecloud-test
                distro_version: python
                created_at: '2017-03-14T15:58:49.000Z'
                version: 0.9.7b1
                release: null
                epoch: null
                private: false
                type: python
                filename: packagecloud_test-0.9.7b1-py2.py3-none-any.whl
                uploader_name: test_user
                indexed: false
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1.json
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/python/packagecloud-test/0.9.7b1/stats/downloads/count.json
                package_html_url: /test_user/test_repo/packages/python/packagecloud_test-0.9.7b1-py2.py3-none-any.whl
                download_url: https://packagecloud.io/test_user/test_repo/packages/python/packagecloud_test-0.9.7b1-py2.py3-none-any.whl/download
                promote_url: /api/v1/repos/test_user/test_repo/python/1/packagecloud_test-0.9.7b1-py2.py3-none-any.whl/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/python/1/packagecloud_test-0.9.7b1-py2.py3-none-any.whl
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/package/java/maven2/{group}/{package}/versions.json:
    get:
      operationId: packages_java_versions
      tags:
      - packages
      summary: java_versions
      description: |-
        List Java Package Versions

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/java/maven2/io.packagecloud/jake/versions.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: group
        in: path
        required: true
        schema:
          type: string
        description: The group of the package.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of all the versions for
            this package.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
              example:
              - name: jake
                distro_version: java/maven2
                created_at: '2017-03-13T23:54:48.000Z'
                version: '2.3'
                release: null
                epoch: null
                private: false
                type: java
                filename: jake-2.3.jar
                uploader_name: test_user
                indexed: true
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/java/maven2/io.packagecloud/jake/2.3.json
                downloads_detail_url: N/A
                downloads_series_url: N/A
                downloads_count_url: N/A
                package_html_url: /test_user/test_repo/packages/java/jake-2.3.jar
                download_url: https://packagecloud.io/test_user/test_repo/packages/java/io.packagecloud/jake-2.3.jar/artifacts/jake-2.3.jar/download
                promote_url: /api/v1/repos/test_user/test_repo/java/maven2/io.packagecloud/jake-2.3.jar/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/java/maven2/io.packagecloud/jake-2.3.jar
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/package/anyfile/{package}/versions.json:
    get:
      operationId: packages_anyfile_versions
      tags:
      - packages
      summary: anyfile_versions
      description: |-
        List Anyfile Package Versions

        Instead of constructing these URLs by hand, you should use the generated versions
        returned from any of these API's, which are guaranteed to be correct for all supported package types:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/package/anyfile/hello/versions.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package.
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of all the versions for
            this package.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/packages/{type}/{distro}/{version}/{arch}.json:
    get:
      operationId: packages_index
      tags:
      - packages
      summary: index
      description: |-
        List Packages by type, distribution, version, and architecture, grouped by package version

        **Example request:**

        ```
         curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/packages/rpm.json"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The user this repo belongs to.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repository.
      - name: type
        in: path
        required: true
        schema:
          type: string
        description: The type of package it is, "rpm" or "deb".
      - name: distro
        in: path
        required: true
        schema:
          type: string
        description: The name of the distribution the package is in. (i.e. ubuntu)
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version name of the distribution the package is in. (i.e. precise)
      - name: arch
        in: path
        required: true
        schema:
          type: string
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: '[PackageVersion](#object_PackageVersion) A JSON array of all packages that match
            the criteria.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageVersion'
              example:
              - name: jake
                versions_count: 1
                versions_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/versions.json
                repository_url: /api/v1/repos/test_user/test_repo
                repository_html_url: /test_user/test_repo
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/gems/{package}.gem:
    delete:
      operationId: packages_destroy_gem
      tags:
      - packages
      summary: destroy_gem
      description: |-
        **Example request:**

        ```
        curl -X DELETE "https://packagecloud.io/api/v1/repos/cooluser/mystuff/gems/jake-1.0.0.gem"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The owner of the repo.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package to be yanked.
      responses:
        '200':
          description: Empty An empty JSON hash.
          content:
            application/json:
              schema:
                type: object
              example: {}
  /api/v1/repos/{user_id}/{repo}/java/maven2/{group}/{filename}:
    delete:
      operationId: packages_destroy_java
      tags:
      - packages
      summary: destroy_java
      description: |-
        **Example request:**

        ```
        curl -X DELETE "https://packagecloud.io/api/v1/repos/test_user/test_repo/java/maven2/io.packagecloud/jake-2.3.jar"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The owner of the repo.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: group
        in: path
        required: true
        schema:
          type: string
        description: The name of the group this package belongs to.
      - name: filename
        in: path
        required: true
        schema:
          type: string
        description: The filename of the package to be yanked.
      responses:
        '200':
          description: Empty An empty JSON hash.
          content:
            application/json:
              schema:
                type: object
              example: {}
  /api/v1/repos/{user_id}/{repo}/{distro}/{version}/{package}.{ext}:
    delete:
      operationId: packages_destroy
      tags:
      - packages
      summary: destroy
      description: |-
        **Example request:**

        ```
        curl -X DELETE "https://packagecloud.io/api/v1/repos/cooluser/mystuff/ubuntu/precise/jake_1.0-7.dsc"
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The owner of the repo.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: distro
        in: path
        required: true
        schema:
          type: string
        description: The name of the distribution the package is in. (i.e. ubuntu)
      - name: version
        in: path
        required: true
        schema:
          type: string
        description: The version name of the distribution the package is in. (i.e. precise)
      - name: package
        in: path
        required: true
        schema:
          type: string
        description: The name of the package to be yanked.
      - name: ext
        in: path
        required: true
        schema:
          type: string
        description: The file extension of the package to be yanked.
      - name: scope
        in: query
        required: false
        schema:
          type: string
        description: The package scope. Required if deleting a scoped Node.JS package. Include the escaped
          '@', (i.e. ?scope=%40example).
      responses:
        '200':
          description: Empty An empty JSON hash.
          content:
            application/json:
              schema:
                type: object
              example: {}
  /api/v1/repos/{user_id}/{repo}/search.json:
    get:
      operationId: packages_search
      tags:
      - packages
      summary: search
      description: |-
        Pass pagination information using the following headers listed here:

        **Example request:**

        ```
        curl "https://packagecloud.io/api/v1/repos/test_user/test_repo/search?q="
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
      - name: repo
        in: path
        required: true
        schema:
          type: string
      - name: arch
        in: query
        required: false
        schema:
          type: string
        description: The architecture of the packages. (i.e. x86\_64, arm64, amd64) - Alpine/RPM/Debian
          only.
      - name: dist
        in: query
        required: false
        schema:
          type: string
        description: The name of the distribution the package is in. (i.e. ubuntu, el/6) - Overrides [:filter]
      - name: filter
        in: query
        required: false
        schema:
          type: string
        description: Search by package type (RPMs, Debs, DSCs, Gem, Python, Node) - Ignored when [:dist]
          is present.
      - $ref: '#/components/parameters/pageParam'
      - name: per_page
        in: query
        required: false
        schema:
          type: string
        description: The number of packages to return from the results set. If nothing passed, default
          is 30
      - name: q
        in: query
        required: false
        schema:
          type: string
        description: The query string to search for package filename. If empty string is passed, all packages
          are returned
      responses:
        '200':
          description: '[PackageFragment](#object_PackageFragment) A JSON array of PackageFragment objects
            hat match the query parameters.'
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PackageFragment'
              example:
              - name: jakedotrb
                distro_version: RubyGem
                created_at: '2017-03-14T14:31:16.000Z'
                version: 0.0.1
                release: null
                epoch: null
                private: false
                type: gem
                filename: jakedotrb-0.0.1.gem
                uploader_name: test_user
                indexed: false
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1.json
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/gem/jakedotrb/0.0.1/stats/downloads/count.json
                package_html_url: /test_user/test_repo/packages/gems/jakedotrb-0.0.1.gem
                download_url: https://packagecloud.io/test_user/test_repo/packages/gems/jakedotrb-0.0.1.gem/download
                promote_url: /api/v1/repos/test_user/test_repo/gems/jakedotrb-0.0.1.gem/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/gems/jakedotrb-0.0.1.gem
              - name: jake
                distro_version: fedora/22
                created_at: '2017-03-13T02:49:29.000Z'
                version: '1.0'
                release: 1.el6
                epoch: 0
                private: false
                type: rpm
                filename: jake-1.0-1.el6.x86_64.rpm
                uploader_name: test_user
                indexed: false
                repository_html_url: /test_user/test_repo
                package_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6.json
                downloads_detail_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/detail.json
                downloads_series_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/series/daily.json
                downloads_count_url: /api/v1/repos/test_user/test_repo/package/rpm/fedora/22/jake/x86_64/1.0/1.el6/stats/downloads/count.json
                package_html_url: /test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm
                download_url: https://packagecloud.io/test_user/test_repo/packages/fedora/22/jake-1.0-1.el6.x86_64.rpm/download
                promote_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm/promote.json
                destroy_url: /api/v1/repos/test_user/test_repo/fedora/22/jake-1.0-1.el6.x86_64.rpm
          headers:
            Link:
              $ref: '#/components/headers/LinkHeader'
            Total:
              $ref: '#/components/headers/TotalHeader'
            Per-Page:
              $ref: '#/components/headers/PerPageHeader'
            Max-Per-Page:
              $ref: '#/components/headers/MaxPerPageHeader'
  /api/v1/repos/{user_id}/{repo}/master_tokens/{master_token}/read_tokens.json:
    get:
      operationId: read_tokens_index
      tags:
      - read_tokens
      summary: index
      description: |-
        List read tokens for a master token.

        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/repos/username/reponame/master_tokens/123/read_tokens.json
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: master_token
        in: path
        required: true
        schema:
          type: string
        description: The value or id of the master\_token.
      responses:
        '200':
          description: Array<ReadToken> An array of read token objects that belong to this repository.
          content:
            application/json:
              schema:
                type: object
                properties:
                  read_tokens:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReadToken'
                required:
                - read_tokens
              example:
                read_tokens:
                - id: 1234
                  value: 3fe453060fd7f017219e308eb98ccf273b4c3655ba57577a
                  name: app1.someservice.com
    post:
      operationId: read_tokens_create
      tags:
      - read_tokens
      summary: create
      description: |-
        Create a read token.

        **Example request:**

        ```
        curl -X POST -F "read_token[name]=tokename" https://packagecloud.io/api/v1/repos/username/reponame/master_tokens/123/read_tokens.json
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: master_token
        in: path
        required: true
        schema:
          type: string
        description: The value or id of the master\_token.
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                read_token[name]:
                  type: string
                  description: The name of the token to create.
      responses:
        '201':
          description: '[ReadToken](#object_ReadToken) The newly created read token object.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadToken'
              example:
                name: tokenname
                value: ea6eef3f26bdcaa5a10ed32b5f8262dbad233900b2571a1c
  /api/v1/repos/{user_id}/{repo}/master_tokens/{master_token}/read_tokens/{id}:
    delete:
      operationId: read_tokens_destroy
      tags:
      - read_tokens
      summary: destroy
      description: |-
        Destroy a read token

        **Example request:**

        ```
        curl -X DELETE https://packagecloud.io/api/v1/repos/username/reponame/master_tokens/123/read_tokens/33
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: master_token
        in: path
        required: true
        schema:
          type: string
        description: The value or id of the master\_token.
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The id of the read token to be destroyed.
      responses:
        '204':
          description: Successful response
    get:
      operationId: read_tokens_show
      tags:
      - read_tokens
      summary: show
      description: |-
        View a single read token

        **Example request:**

        ```
        curl -X GET https://packagecloud.io/api/v1/repos/username/reponame/master_tokens/123/read_tokens/33
        ```
      parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: The username to which the repo belongs.
      - name: repo
        in: path
        required: true
        schema:
          type: string
        description: The name of the repo.
      - name: master_token
        in: path
        required: true
        schema:
          type: string
        description: The value or id of the master\_token.
      - name: id
        in: path
        required: true
        schema:
          type: integer
        description: The id of the read token to view
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReadToken'
              example:
                id: 1234
                value: 3fe453060fd7f017219e308eb98ccf273b4c3655ba57577a
                name: app1.someservice.com
  /api/v1/repos:
    get:
      operationId: repositories_index
      tags:
      - repositories
      summary: index
      description: |-
        **Example request:**

        ```
        curl https://packagecloud.io/api/v1/repos
        ```
      parameters:
      - name: include_collaborations
        in: query
        required: false
        schema:
          type: string
        description: Include to return Repository objects from
      - $ref: '#/components/parameters/pageParam'
      - $ref: '#/components/parameters/perPageParam'
      responses:
        '200':
          description: Array<Repository> An array of Repository objects that belong to your account.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Repository'
              example:
              - name: myrepo
                created_at: '2014-02-26T00:03:28.000Z'
                url: https://packagecloud.io/cooluser/myrepo
                last_push_human: 3 days ago
                package_count_human: 17 packages
[...]
